@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>SmartExpense</h5>
                <p>The easiest way to track your expenses and achieve your financial goals.</p>
                <div class="social-icons mt-4">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

            <div class="col-md-4 mb-4 text-center">
                <h5>Quick Links</h5>
                <ul class="footer-links">
                    <li><a href="@Url.Action("Features", "Home")">Features</a></li>
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                </ul>
            </div>

            <div class="col-md-4 mb-4 ps-5">
                <h5>Contact Us</h5>
                <ul class="footer-links">
                    <li><i class="fas fa-envelope me-2"></i> smartExpense@gmail.com</li>
                    <li><i class="fas fa-phone me-2"></i> +92 333 3333</li>
                    <li><i class="fas fa-map-marker-alt me-2"></i> Street 123, Lahore Pakistan</li>
                </ul>
            </div>
        </div>

        <div class="copyright text-center">
            <p>&copy; 2025 SmartExpense. All rights reserved.</p>
        </div>
    </div>
</footer>
